html {
    font-size: 22px;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    background-color: black;
}
a {
   color:#daa520;
}

#logo {
    height: 2.2727rem;
    float: left;
    margin-top: 0.55rem;
    margin-left: 0.55rem;
}


nav {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    height: 3.13rem;
    width: 100%;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: #000;
}

nav ul li {
    display: inline-block;
    margin: 1rem;;
}

main .banner {
    display: flex;
    position: relative;
    top: 3.17rem;
    margin: 0 auto;
    max-width: 54.54rem;
    height: 31.818rem;
    background-image: url("../resources/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.banner .mission {
    width: 100%;
    background-color: #000;
}

main #featured-tea {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 5rem;
    max-width: 45.454545rem;
}

figure img {
    max-width: 13.636rem;
    max-height: 9.09rem;
    padding: 0.5rem;
}

figure figcaption {
    margin: 0.4545rem;
    font-weight: 600;
}

#featured-tea header {
    width: 100%;
    margin-bottom: 1rem;
}